<div class="message-container">
    <mat-card class="message-card">
      <mat-card-title>Update Weight Information</mat-card-title>
      <mat-card-content>
        <form (ngSubmit)="onUpdateWeight()" #weightForm="ngForm">

          <mat-form-field appearance="fill">
            <mat-label>Text</mat-label>
            <textarea matInput required [(ngModel)]="text" name="text"></textarea>
            <mat-error *ngIf="weightForm.submitted && !text">Text is required</mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Old Weight</mat-label>
            <input matInput type="number" required [(ngModel)]="oldWeight" name="oldWeight">
            <mat-error *ngIf="weightForm.submitted && !oldWeight">Old Weight is required</mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>New Weight</mat-label>
            <input matInput type="number" required [(ngModel)]="newWeight" name="newWeight">
            <mat-error *ngIf="weightForm.submitted && !newWeight">New Weight is required</mat-error>
          </mat-form-field>

          <button mat-raised-button color="primary" type="submit">Update</button>

          <button mat-raised-button color="accent" type="button" (click)="downloadPdf()">Download PDF</button>

          <button mat-raised-button color="accent" type="button" (click)="showGraph()">Show graph</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  
